/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    box-sizing: border-box;
}

.app{
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: scroll;
    font-family: "rubik", sans-serif;
    background-color: #0f1729;
    
}
video
{  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-color: rgba(0,0,0,0.9);
}
.title-container
{
    position: absolute;
    top:100px;
    left: 40%;
   
}
.intro-btn-container
{
    position: absolute;
    top:150px;
    left:10px;
    padding: 0 30% ;
    width: 100%;
    

}
.title{
    font-size: xx-large;
    color: white;
}
/*FOOTER CSS*/
.footer
{
    margin-top: 1px;
    margin-bottom: 0px;
    padding: 100px 15%;
    display: flex;
    color: #efefef;
    gap: 200px;
    position: relative;
    top: 200px;
    left: 10px;
    bottom: 10px;
}
.footer div {
    text-align: center;
}
.col-1 a{
display: block;
text-decoration: none;
margin-bottom: 10px;
}
.footer div h3{
    font-weight: 1000;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #efefef;
}
form input
{
    width: 300px;
    height: 45 px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

}  
form button
{
    background: transparent;
    border: 2px solid #efefef;
    color :#fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 80px;
} 
.social-icon
{
    margin-top: 30px;
} 
.social-icon i
{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
/*footer end*/

.sliding-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .sliding-form.open {
    max-height: 300px; /* Adjust the height as needed */
  }

.center-container{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
}

/* navbar css */
.navbar
{
    background-color: #1d263bc7;
  
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
    z-index: 100;
    
    
}
.navbar ul
{
    background-color: #1d263bc7;
    display: inline;
}
.navbar ul >li
{
    background-color: #1d263bc7;
    display: inline;
    padding: 10px;
    margin-left: 40px;
    color: white;
}
.navbar ul >form
{
    background-color: #1d263bc7 ;
    display: inline;
    margin-left: 40px;
}
.navbar button
{
     margin-left: 40px;
    border : solid rgb(255, 255, 255) 2px;
    border-radius: 25px;
    padding: 10px;
    color: white;
}
.navbar i
{
    color: white; 
    font-size : 30px;
    cursor: pointer;
}
.navbar input
{
     margin-left: 40px;
    border : solid rgb(255, 255, 255) 2px;
    border-radius: 25px;
    padding: 10px;
    color: black;
    background-color: #efefef;

}
/*OVERLAY + BUTTON CSS*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .overlay-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .adjust
  {
   
    border : solid rgb(255, 255, 255) 2px;
    color: #efefef;
    border-radius: 55px;
    padding: 40px;
  }
  textarea {
    background-color: #e6e6e6;
}


input {
    background-color: #e6e6e6;
}
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:rgba(0, 128, 0, 0.3) ;
    z-index: 2;
  }
.close{
    background-color: red;
    color:black;
}
.add-question{
    color: black;
    
}
.center-search-container{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
.search-input{
    margin-left: 40px;
    border : solid rgb(255, 255, 255) 2px;
    border-radius: 25px;
    padding: 10px;
    color: black;
    background-color: #efefef;

}
.fixed-button-2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color:rgba(0, 128, 0, 0.3) ;
    z-index: 2;
  }

  .container-1 {
    position: relative;
    background: linear-gradient(135deg, rgb(179, 208, 253) 0%, rgb(164, 202, 248) 100%);
    border-radius: 1000px;
    padding: 10px;
    display: grid;
    place-content: center;
    z-index: 0;
    max-width: 300px;
    margin: 0 10px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after, .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    color: #9EBCD9;
    font-size: 20px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }
  
  .search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
  }
  
  .search__icon:hover {
    border-left: 3px solid white;
  }
  
  .search__icon path {
    fill: white;
  }
  
  /* === removing default button style ===*/
.title-text {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
.title-text {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
  .inline-element {
    display: inline; 
    /* border: 1px solid #ccc; */
    padding: 30px;
    margin: 5px;
    border-radius: 5%;
  }
  .center-container-upload{
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  padding: 20px;
  border-radius: 8px;
  }
  .upload-title{
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px; /* Adjust as needed */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 2s infinite linear;
  }
  
  .side {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.8;
  }
  
  .front {
    transform: translateZ(50px);
    background: linear-gradient(45deg, #ff4e50, #f9d423);
  }
  
  .back {
    transform: translateZ(-50px);
    background: linear-gradient(45deg, #40e0d0, #ff8c00);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(50px);
    background: linear-gradient(45deg, #800080, #00bfff);
  }
  
  .bottom {
    transform: rotateX(90deg) translateZ(-50px);
    background: linear-gradient(45deg, #008000, #ffff00);
  }
  
  .left {
    transform: rotateY(90deg) translateZ(50px);
    background: linear-gradient(45deg, #0000ff, #ff1493);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(-50px);
    background: linear-gradient(45deg, #00ffff, #ff0000);
  }
  
  @keyframes spin {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  .display-upload-text{
    color: lightgreen;
    font-size: larger;
  }
  .myQuestions-container{
    margin-top: 5%;
  }
  .update-container{
    margin-top: 5%;
  }
  .center-container-update{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    padding: 20px;
    border-radius: 8px;
  }
  .update-label{
    font-size: larger;
    color:white
  }
  .spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
  }
  
  .spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  
  .spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  
  .spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  
  .spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  
  .spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  
  .spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  
  .spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  
  @keyframes spinner-fade9234 {
    0% {
      background-color: #69717d;
    }
  
    100% {
      background-color: transparent;
    }
  }
 

.green-tick-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.green-tick {
    width: 24px;
    height: 24px;
    background-color: #4CAF50; /* Green color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: #fff;
}

.tick-icon {
    font-size: 16px;
}



