/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.app{
    height: 100%;
    width: 100%;
    font-family: "rubik", sans-serif;
    background-color: #0f1729;
}

/* intro page css */
.intro-btn-container{
    padding: 0 30% ;
}
.title{
    font-size: xx-large;
    color: white;
}
.title-container{
    display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  height: 50vh; 
}


 
   
 

